@import "variables";

atom-text-editor::shadow {
  .highlight-block .region {
    background-color: @green-color;
  }

  .highlight-element .region {
    background-color: @blue-color;
  }

  .highlight-modifier .region {
    background-color: @red-color;
  }
}
